<mat-card class="example-card" appearance="outlined">
  <div class="card">
    <img
      src="https://uiverse.io/astronaut.png"
      alt=""
      class="image"
    />
    <div class="heading"></div>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Usuario</mat-card-title>
      <mat-card-subtitle class="titulo-funcao">Função</mat-card-subtitle>
    </mat-card-header>

  </div>
    <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    

    <div class="container-pontos">

      <div class="cards">
        <div class="stats-wrapper">
          <p class="headings">Pontos</p>
          <div class="bottom-wrapper">
            <mat-icon svgIcon="custom_icon"></mat-icon>
            <p class="count">50</p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="stats-wrapper">
          <p class="headings">Vitorias</p>
          <div class="bottom-wrapper">
            <mat-icon svgIcon="trofeu_icon"></mat-icon>
            <p class="count">50</p>

          </div>
        </div>
      </div>

    </div>

  </mat-card-actions>
</mat-card>
